Glossary
<ul class="code-list">
    <li><a id="data-science" class="code-item" onclick="codeItemClicked(this);">+</a>Data Science
        <div class="in-detail">
            <p>Data science, also known as data-driven science, is an interdisciplinary field about scientific methods,
                processes and systems to extract knowledge or insights from data in various forms, either structured or
                unstructured, similar to Knowledge Discovery.</p>
            <p>Data science is advancing inductive conduct of science driven by the greater volumes, complexity and
                heterogeneity of data being made available over the Internet. Data science combines of aspects of data
                management, library science, computer science, and physical science using supporting cyberinfrastructure
                and information technology. As such it is changing the way all of these disciplines do both their
                individual and collaborative work.</p>
            <p>Data science is helping scienists face new global problems of a magnitude, complexity and
                interdisciplinary nature whose progress is presently limited by lack of available tools and a fully
                trained and agile workforce.</p>
            <p><a href="https://tw.rpi.edu//web/concept/DataScienceConcept">Lear More...</a></p>
        </div>
    </li>
    <li><a id="soa" class="code-item" onclick="codeItemClicked(this);">+</a>Service Oriented Architecture
        <div class="in-detail">
            <p>In SOA, services use protocols which describe how they pass and parse messages using description metadata.
                This metadata describes both the functional characteristics of the service and quality-of-service
                characteristics. Service-oriented architecture aims to allow users to combine large chunks of
                functionality to form applications which are built purely from existing services and combining
                them in an ad hoc manner. A service presents a simple interface to the requester that abstracts
                away the underlying complexity acting as a black box. Further users can also access these independent
                services without any knowledge of their internal implementation.</p>
            <p>A service has four properties according to one of many definitions of SOA:</p>
            <ul>
                <li>It logically represents a business activity with a specified outcome.</li>
                <li>It is self-contained.</li>
                <li>It is a black box for its consumers.</li>
                <li>It may consist of other underlying services.</li>
            </ul>
            <p><a href="https://en.wikipedia.org/wiki/Service-oriented_architecture">Learn More...</a></p>
        </div>
    </li>
</ul>

