Glossary
<ul class="code-list">
    <li><a id="data-science" class="code-item" onclick="codeItemClicked(this);">+</a>Data Science
        <div class="in-detail">
            <p>Data science, also known as data-driven science, is an interdisciplinary field about scientific methods, processes and systems to extract knowledge or insights from data in various forms, either structured or unstructured, similar to Knowledge Discovery.</p>
        </div>
    </li>
</ul>

