<p><a href="http://tw.rpi.edu/media/latest/PatrickWestResume.docx">Patrick West Resume (docx)</a></p>
<p><a href="http://tw.rpi.edu/media/latest/PatrickWestResume.pdf">Patrick West Resume (pdf)</a></p>

<p style="font-weight:bold;font-size:12pt;">EXPERIENCE: </p>
<p style="font-weight:bold;">25 years of experience</span>pSoftware Engineering including requirements gathering, design, development, testing, documentation, deployment, support and project management.

<p style="font-weight:bold;font-size:12pt;">LANGUAGES AND TECHNOLOGIES: </p>
<ul>
<li>Object-Oriented analysis, design, and development</li>
<li>C/C++ application design and development in multi-tier architectures</li>
<li>LAMP Software Stack</li>
<li>HTML, JavaScript, CSS development</li>
<li>Open source project participation, software development, deployment and support</li>
<li>MySQL relational databases</li>
<li>Web applications and services design and development</li>
<li>Java programming</li>
<li>Ontology development and deployment using various semantically enabled tools and services</li>
<li>Virtuoso triple stores and endpoints</li>
<li>Scrum (Agile) iterative software development</li>
</ul>

<p style="font-weight:bold;font-size:12pt;">KEY PROJECTS:</p>
<p><a href="https://deepcarbon.net">Deep Carbon Observatory (DCO)</a></p>
<ul>
<li>DCO Data Science Team technical lead. Team of 5-10 including staff and graduate students.</li>
<li>Product Owner in Agile Development Process.</li>
<li>Use case and functional requirements development, design, information modeling and implementation, overall architecture design and implementation.</li>
<li>Drupal-based Community Portal, VIVO Semantic Information Portal, Jena Knowledge Base store, Fuseki SPARQL endpoint, CKAN data and metadata store, shibboleth single sign-on with LDAP backend, internally developed user management.</li>
</ul>

<p><a href="http://opendap.org">OPeNDAP</a></p>
<ul>
<li>Open source Project for a Network Data Access Protocol.</li>
<li>Designed, developed and released OPeNDAP Hyrax Back-End Server, installed at NASA and other national labs.</li>
<li>C++ using dynamically loaded modules for extensibility creating a grid-like infrastructure for distributed data delivery.</li>
<li>Provides data access, manipulation, transformation and delivery of scientific data in various formats for visualization.</li>
</ul>

<p style="font-weight:bold;font-size:12pt;">PROFESSIONAL EXPERIENCE:</p>
<p style="font-weight:bold;">Senior Software Engineer, Entangled Media, Inc - 2016 - Present</p>
<ul>
<li>Developing and deploying web-based profile management system allowing user to manage their profile and their premium subscriptions utilizing Java on the server-side and Java, JavaScript, Handlebars, HTML and CSS on the client web interface.</li>
<li>Development of new authentication mechanism using Amazon Web Services (AWS) Cognito product. Moved server-side functionality behind the AWS API-gateway to handle authorization.</li>
<li>Agile development using Jira ticketing and task system and Jenkins for build, testing and deployment of software to the AWS Elastic Compute Cloud (EC2) and Simple Storage Service (S3).</li>
</ul>

<p style="font-weight:bold;">Principal Software Engineer, Rensselaer Polytechnic Institute - December 2008 - Present</p>
<ul>
<li>Semantic Web research, design and development. Collaborate with numerous research organizations around the world, using the latest in semantic web technologies and tools. Information modeling, ontology development using numerous modular ontologies, RDFs, RDFa inference engines and reasoning rule systems.</li>
<li>Drupal and MediaWiki development using PHP, including the development of new modules/extensions.</li>
<li>Web site and web services development using PHP, AJAX, RESTful, Tomcat Servlet development, JavaScript, C and C++, some Java and Python.</li>
<li>Lead and co-author on numerous publications, presentations and posters for conferences, focused on data science, informatics and computer science.</li>
<li>Linux server setup and maintenance for TWC production machines and services, Subversion source code control repository, Trac issue tracking system, Drupal CMS at http://tw.rpi.edu, OpenLDAP, GitHub. Provide system administration for 17 test and test/demo Linux servers.</li>
<li>Support and management of multiple small team projects using Agile development process where appropriate. Roles include product owner, team member and Scrum master.</li>
<li>Adjunct Professor teaching Introduction to Information Technology, Fall Semester 2009 - creation of lectures and labs. Two classes per week.</li>
</ul>

<p style="font-weight:bold;">Senior Software Engineer, University Corporation for Atmospheric Research (UCAR) - April 2002 - December 2008</p>
<ul>
<li>C++, Object-Oriented Design methodologies were used to develop a distributed data model for use by scientists worldwide over HTTP.</li>
<li>MediaWiki installation and management including extension development for user management functionality and display of scientific information stored in a relational database.</li>
<li>Virtual observatory implementation using ontology development with Protege and Swoop, metadata search capabilities, catalog retrieval system, data retrieval and data visualization.</li>
</ul>

<p style="font-weight:bold;">Senior Consulting Engineer, LightBridge - January 2001 - May 2001</p>
<ul>
<li>Implemented and tested new wireless switches for LightBridge’s product Fraud Buster. The product takes call data records and detects any fraudulent items in the data. Code written using Object-Oriented methodologies in C++ on UNIX machines (Solaris and HP). Tuxedo was used for transaction management and communication between servers.</li>
<li>Enhanced the Fraud Centurion product to automatically suspend and restore callers with fraudulent activity. Code was written in C++ using Object-Oriented Methodologies, XML, and socket coding. Used Continuus code management system, Lotus Notes for document management, Rational Purify for memory error checking and Quantify for performance of new code.</li>
</ul>

<p style="font-weight:bold;font-size:12pt;">EDUCATION:</p>
<ul>
    <li><span style="font-weight:bold;">Bachelor of Science in Computer Science</span>, Indiana University, Bloomington, 1990.</li>
</ul>