html {
  padding:0;
  margin:0;
}

body {
  color: #212121;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin:auto auto;
  padding:0;
  width:1000px;
  background-color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: #008;
}

.header {
  display: flex;
  flex-flow: row nowrap;
}

.my-pictures {
  flex: 0 1 150px;
  background-color: white;
}

.my-image {
  width: 145px;
}

.my-name {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.main-header {
  flex: 1 1 100px;
  display: flex;
  flex-flow: column nowrap;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 900px;
}

.title-header {
  flex: 1 1 200px;
}

.title-color {
  /*color: #ccff99;*/
  color: #99ccff;
  font-size: 120px;
}

.nav-header {
  flex: 1 1 50px;
  display: flex;
  flex-flow: row nowrap;
}

.menu-box {
  flex: 0 1 100px;
  height: 50px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: black;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-inner-box {
  width: 100%;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  border-bottom: 5px solid white;
}

.notselected {
  border-bottom: 5px solid black;
}

.menu-item {
  cursor: pointer;
}

.main-content {
  background-color: white;
  margin-top: -20px;
}

.content {
  margin: 20px 0 0 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.footer {
  height: 20px;
  background-color: white;
  margin-top: -10px;
}

ul.code-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a.code-item {
  padding-right: 1em;
  cursor: pointer;
}

.in-detail {
  display: none;
  border: 1px solid black;
  padding: 5px 5px 5px 20px;
  margin: 10px;
  width: 600px;
}

.in-detail img {
  width: 400px;
}

.me-div {
  display: flex;
  flex-flow: row nowrap;
}

.me-menu {
  flex: 1 1 50px;
}

#about-me,#publications,#presentations,#resume {
  display: none;
}

.me-description-div {
  display: flex;
  flex-flow: row nowrap;
}

.me-image {
  flex: 1 1 50px;
  justify-content: flex-start;
  align-content: center;
}

.me-image img {
  width: 100px;
}

.me-description {
  flex: 1 1 100%;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 10px;
}

.me-display {
  flex: 1 1 100%;
  margin-left: 50px;
  margin-top: 15px;
}

.me-menu-item {
  cursor: pointer;
}

.document-div {
  margin: 10px 0 10px 0;
}

.document-div:hover {
  background-color: lightblue;
}

@media screen and (max-width: 1060px) {
  .title-header {
    font-size: 43px
  }

  .title-color {
    font-size: 72px;
  }

  body {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .title-header {
    font-size: 29px
  }

  .title-color {
    font-size: 48px;
  }
}

@media screen and (max-width: 550px) {
  .title-header {
    font-size: 22px;
    padding-left: 25px;
  }

  .title-color {
    font-size: 36px;
  }
}

@media screen and (max-width: 450px) {
  .title-header {
    font-size: 14px;
  }

  .title-color {
    font-size: 24px;
  }
}
